<ol class="breadcrumb">
  <li><a href="#">Dashboard</a></li>
  <li class="active">Company</li>
</ol>
<div class="tabbable-bordered">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#users" data-toggle="tab">Users</a></li>
    <li><a href="#users12" data-toggle="tab">...</a></li>
  </ul>
  <div class="tab-content">
    <div id="users" class="tab-pane fade in active">
      <div class="panel panel-default panel-noborder">
        <div class="panel-body">
          <go-user-list />
        </div>
      </div>
    </div>
    <div id="users12" class="tab-pane fade">
      <div class="panel panel-default panel-noborder">
        <div class="panel-body">
          ...
        </div>
      </div>
    </div>
  </div>  
</div>
