<div class="container p-3 mb-3">
  <div class="row">
    <div class="col" style="padding-left: 0px;">
      <h4>Analytics</h4>
    </div>
    <div class="col-6">
      <div class="btn-group float-right">
        <button ng-click="$ctrl.download()" class="btn btn-sm btn-outline-secondary">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg>
          Export
        </button>
      </div>
    </div>
    <div class="col-1">
      <pos-avatar/>   
    </div>
  </div>
</div>