<div class="modal-header">
  <h4 class="modal-title">Create category</h4>
</div>
<div class="modal-body">
  <form class="form-horizontal" role="form" novalidate>
    <div class="form-group">
      <label class="control-label col-sm-3">Name</label>
      <div class="col-sm-9">
        <input class="form-control" ng-model="$ctrl.category.name" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3">Display Index</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" ng-model="$ctrl.category.displayIndex" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <table class="table"> 
          <thead> 
            <tr> 
              <th>Sub-category</th> 
              <th>Display Index</th> 
              <th>
                <a href="javascript:;" ng-click="$ctrl.addSub()" class="btn btn-primary btn-xs" role="button">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
                </a>
              </th>
            </tr> 
          </thead> 
          <tbody> 
            <tr ng-if="!sub.isDeleted" ng-repeat="sub in $ctrl.category.subs"> 
              <td>
                <input class="form-control" ng-model="sub.name" />
              </td> 
              <td>
                <input class="form-control" ng-model="sub.displayIndex" />
              </td> 
              <td>
                <a href="javascript:;" ng-click="$ctrl.deleteSub(sub)" class="btn btn-danger btn-xs" role="button">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                </a>
              </td>
            </tr>
          </tbody> 
        </table>        
      </div>
    </div>    
  </form>
</div>
<div class="modal-footer">
  <button type="button" ng-click="$ctrl.cancel()" class="btn btn-default" data-dismiss="modal">Cancel</button>
  <button type="button" ng-click="$ctrl.save()" class="btn btn-primary" data-dismiss="modal">Save</button>
</div>