<div class="row p-3 mb-3">
  <div class="col" style="padding-left: 0px;">
    <h4>Shops</h4>
  </div>
  <div class="col-6">
    <div class="btn-group float-right">
      <button class="btn btn-sm btn-outline-secondary" ng-click="$ctrl.create()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
        Create
      </button>        
      <button ng-click="$ctrl.download()" class="btn btn-sm btn-outline-secondary">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg>
        Export
      </button>
    </div>
  </div>
  <div class="col-1">
    <pos-avatar/>   
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <input ng-model="$ctrl.searchText" type="text" class="form-control" placeholder="Search for...">
  </div>
  <div class="col-sm-6">
    <button ng-click="$ctrl.search()" class="btn btn-primary" type="button">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
      Search
    </button>
<!--     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button ng-click="$ctrl.search()" class="btn btn-secondary" type="button">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-filter"><polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon></svg>
      Show Filter
    </button> -->
  </div>
</div>
<br/>
<div class="table-responsive">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Name</th>
        <th>Code</th>
        <th>Created At</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="tenant in $ctrl.tenants"> 
        <td>{{tenant.name}}</td>
        <td>{{tenant.code}}</td> 
        <td>{{tenant.createdAt | date:'short'}}</td> 
        <td>
          <button class="btn btn-sm btn-outline-secondary" ng-click="$ctrl.view(tenant)">View</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<nav>
  <ul class="pagination float-right">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>