<div class="modal-header">
  <h4 class="modal-title">Change Password</h4>
</div>
<div class="modal-body">
  <form class="form-horizontal" role="form" novalidate>
    <div class="form-group row">
      <label for="password" class="col-sm-5 col-form-label">Password</label>
      <div class="col-sm-7">
        <input type="password" class="form-control" id="password" ng-model="$ctrl.password">
      </div>
    </div>
    <div class="form-group row">
      <label for="confirmPassword" class="col-sm-5 col-form-label">Confirm Password</label>
      <div class="col-sm-7">
        <input type="password" class="form-control" id="confirmPassword" ng-model="$ctrl.confirmPassword">
      </div>
    </div>   
  </form>
</div>
<div class="modal-footer">  
  <button type="button" ng-click="$ctrl.cancel()" class="btn btn-secondary">Cancel</button>
  <button type="button" ng-click="$ctrl.save()" class="btn btn-primary">Save</button>
</div>