<div class="modal-header">
  <h4 ng-if="$ctrl.type == 'confirm'" class="modal-title">Confirmation</h4>
  <h4 ng-if="$ctrl.type == 'info'" class="modal-title">Information</h4>
</div>
<div class="modal-body">
  <p class="text-center">{{$ctrl.message}}</p>
</div>
<div class="modal-footer">
  <button ng-if="$ctrl.type == 'info'" type="button" ng-click="$ctrl.closeModal(true)" class="btn btn-default" data-dismiss="modal">Ok</button>
  <button ng-if="$ctrl.type == 'confirm'" type="button" ng-click="$ctrl.closeModal(false)" class="btn btn-default" data-dismiss="modal">No</button>
  <button ng-if="$ctrl.type == 'confirm'" type="button" ng-click="$ctrl.closeModal(true)" class="btn btn-primary" data-dismiss="modal">Yes</button>
</div>